<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<!--对采购分销搜索接口中的缓存时效表进行操作-->
<mapper namespace="com.jiakun.fresh.dao.ThoughPolicyCacheExpireDao">
    <insert id="insertOrUpdateCacheExpire" parameterType="com.jiakun.fresh.pojo.BookingRecordInfo">
        INSERT INTO `cache_expire`(`depcode`, `arrcode`, `pcc`, `gds_type`, `booking_num`, `success_num`, `success_rate`, `cache_timeout`)
        VALUES (#{depCode,jdbcType=VARCHAR}, #{arrCode}, #{pcc}, #{gdsType}, #{bookingNum}, #{successNum}, #{successRate}, #{insertExpire}) ON DUPLICATE KEY UPDATE
        `booking_num`=#{bookingNum}, `success_num`=#{successNum}, `success_rate`=#{successRate}, `cache_timeout` = `cache_timeout` + IF (#{updateDiff} &lt; 0 AND `cache_timeout` &lt;= #{lowLimit}, 0, #{updateDiff});
    </insert>

    <select id="queryCacheExpire" resultMap="cacheExpireInfoMap">
        SELECT `depcode`,`arrcode`,`pcc`,`gds_type`,`booking_num`,`success_num`,`success_rate`,`cache_timeout`,`manual_timeout`
        FROM `cache_expire` WHERE `depcode`=#{depcode} AND `arrcode`=#{arrcode} AND `pcc`=#{pcc} AND `gds_type`=#{gds_type};
    </select>

    <resultMap id="cacheExpireInfoMap" type="com.jiakun.fresh.pojo.CacheExpireInfo">
        <result column="depcode" property="depCode"/>
        <result column="arrcode" property="arrCode"/>
        <result column="pcc" property="pcc"/>
        <result column="gds_type" property="gdsType"/>
        <result column="booking_num" property="bookingNum"/>
        <result column="success_num" property="successNum"/>
        <result column="success_rate" property="successRate"/>
        <result column="cache_timeout" property="cacheTimeout"/>
        <result column="manual_timeout" property="manualTimeout"/>
    </resultMap>
</mapper>
